
<div class="container-fluid list-container">
	<div class="row">
		<div class="header">
			<h1>Ben's Recipes</h1>
			<h3>Share, Health, Tasty</h3>
		</div>
		<!--Search set-->
		<div class="col-md-2 search_box">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Type what you want!" ng-model="$ctrl.query" />
				<span class="input-group-addon" type="button">Search</span>
			</div>
		</div>
		<!--Main part-->
		<div class="list_right">
			<ul>
				<li ng-repeat="recipe in $ctrl.recipes | filter:$ctrl.query">
					<a href="#!/data/{{recipe.id}}">
						<i><img src="{{recipe.imageUrl}}" /></i>
						<h4>{{recipe.title}}</h4>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>